#siteContent {
    display: none;
}

#buttonSecret{
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    background-color: #212529;
    
    
}


.cat {
    position: relative;
    top: 90px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.card-img {
    width: 100%;
    height: 9rem;
    font-size: 90px;
}



:root {
    --dark-color: #635bff;
    --light-color: #80e9ff
}

svg {
    cursor: pointer;
}

#darkGroup {
    fill: var(--dark-color);
}

#lightGroup {
    fill: var(--light-color);
}

#dark1,
#light1,
#dark2 {
    transition: all 1s ease;
}

#dark2 {
    transform: translateX(-100%);
}

svg:hover #light1 {
    transform: translateX(20%);
    
}

svg:hover #dark1 {
    transform: translateX(40%);
    opacity: 0;
}

svg:hover #dark2 {
    transform: translateX(0%);
    
}

#enroll {
    color: black;
}


.buttons {
    display: inline-block;
    padding: 12px 28px;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .buttons:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #0072ff;
  }
  
  .buttons:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
  }

  
.label {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    padding: 1em;
    
    font-size: 2em;
}


#container {
    padding: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    height: 100%;
    background-color: #212529;
    color: white;
}

.input-dice {
    text-align: center;
    font-size: 1rem;
    width: 150px;
}

.but {
   
        font-size: 2rem; 
        width: 150px;
        text-transform: uppercase;
        margin: 5px;
        border: 2px solid #333
    
}

#buttonDa {
    background-color: lightgreen;
}

#buttonNu {
    background-color: tomato;
}

.colorful {
    background-color: #FF0000;
    animation: bgColor 5s infinite linear;
  
  }
  @keyframes bgColor {
    12.5% {
      background-color: #FF0000;
    }
    25% {
      background-color: #FFA500;
    }
    37.5% {
      background-color: #FFFF00;
    }
    50% {
      background-color: #7FFF00;
    }
    62.5% {
      background-color: #00FFFF;
    }
    75% {
      background-color: #0000FF;
    }
    87.5% {
      background-color: #9932CC;
    }
    100% {
      background-color: #FF1493;
    }
  
    0% {
      background-color: #9103c9;
  
    }
  
    5% {
      background-color: #30093f;
  
    }
  }
  
  .paused {
      animation-play-state: paused;
    }

    #calculator{
        font-family: Arial, Helvetica, sans-serif;
        background-color: hsl(0, 0%, 15%);
        border-radius: 15px;
        max-width: 500px;
        overflow: hidden;
        margin: 100px 0 100px 100px;
    }


#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}


#keys > button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

#keys > button:hover{
    background-color: hsl(0, 0%, 10%);
    transition: all 0.2s;

}

#keys > button:active{
    background-color: hsl(0, 0%, 5%);
    transition: all 0.2s;

}

.operator-btn{
    background-color: hsl(19, 100%, 40%);
}

.operator-btn:hover{
    background-color: hsl(19, 100%, 20%);

}

.operator-btn:active{
    background-color: hsl(19, 100%, 50%);

}