


.cat {
    position: relative;
    top: 90px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.card-img {
    width: 100%;
    height: 9rem;
    font-size: 90px;
}



:root {
    --dark-color: #635bff;
    --light-color: #80e9ff
}

svg {
    cursor: pointer;
}

#darkGroup {
    fill: var(--dark-color);
}

#lightGroup {
    fill: var(--light-color);
}

#dark1,
#light1,
#dark2 {
    transition: all 1s ease;
}

#dark2 {
    transform: translateX(-100%);
}

svg:hover #light1 {
    transform: translateX(20%);
    
}

svg:hover #dark1 {
    transform: translateX(40%);
    opacity: 0;
}

svg:hover #dark2 {
    transform: translateX(0%);
    
}

#enroll {
    color: black;
}


button {
    display: inline-block;
    padding: 12px 28px;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #0072ff;
  }
  
  button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
  }
  
  button:before,
  button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
  
  button:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
  }
  
  button:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
  }
  

label {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    padding: 1em;
    
    font-size: 2em;
}